@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:focus {
  color: #f2a00f;
}

nav.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-fluid {
  padding-bottom: 15px;
}

.navbar {
  z-index: 50;
}

.flex {
  display: flex;
  margin-top: 3rem;
}

.flex.fill {
  height: 100%;
}

.heading {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 900;
}

.nav-link {
  font-weight: 600;
}

.give,
.a-lot {
  color: #f2a00f;
}

.a-lot {
  text-shadow: #0fa958;
}

.cta-btn {
  font-size: 2rem;
  background-color: #0fa958;
  border: none;
  padding: 0.5rem 2rem;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.cta-btn:hover {
  color: white;
  background-color: #f2a00f;
  transition: all 1s ease-in;
}

.stats-number {
  color: #f2a00f;
  font-weight: 900;
  letter-spacing: 1.2px;
  font-size: 20px;
}

.stats-description {
  color: white;
}

.stats-container {
  width: clamp(50%, 700px, 90%);
  height: min(75%, 40rem);
  display: flex;
  flex-wrap: wrap;
}

.diff {
  color: #0fa958;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}

.in {
  font-style: italic;
  color: #0fa958;
  font-weight: 600;
}

td:first-child {
  font-weight: 600;
}

.left {
  width: clamp(50%, 700px, 90%);
  border-radius: 11px;
  padding: 15px;
  border: 1px solid;
}

.right {
  width: clamp(50%, 700px, 90%);
  border-radius: 11px;
  padding: 15px;
  border: 1px solid;
}

.about-us-container {
  margin: 1rem 2rem;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 10px;
}

.swiper-container {
  margin-top: 2rem;
}

.slider-wrapper {
  color: white;
}

blockquote {
  width: clamp(30%, 500px, 60%);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.30);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 10px;
}

blockquote::before,
blockquote::after {
  content: "\201C";
}

.slide-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('./assets/about-child-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.slide-1 p,
.slide-2 p,
.slide-3 p,
.slide-4 p {
  padding: 10px;
  font-weight: 600;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.30);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.slide-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('./assets/about-child-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.slide-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('./assets/about-child-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.slide-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('./assets/about-child-4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.calendar{
  margin: 5px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}