@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

nav.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-fluid {
  padding-bottom: 15px;
}

.navbar {
  z-index: 50;
}

.flex {
  display: flex;
  margin-top: 3rem;
}

.flex.fill {
  height: 100%;
}

.heading {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 900;
}

.nav-link {
  font-weight: 600;
}

.give,
.a-lot {
  color: #f2a00f;
}

.a-lot {
  text-shadow: #0fa958;
}

.cta-btn {
  font-size: 2rem;
  background-color: #0fa958;
  border: none;
  padding: 0.5rem 2rem;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.cta-btn:hover {
  color: white;
  background-color: #f2a00f;
  transition: all 1s ease-in;
}

.stats-number {
  color: #f2a00f;
  font-weight: 900;
  letter-spacing: 1.2px;
  font-size: 20px;
}

.stats-description {
  color: white;
}

.stats-container {
  width: clamp(50%, 700px, 90%);
  height: min(75%, 40rem);
  display: flex;
  flex-wrap: wrap;
}

.diff {
  color: #0fa958;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}

.in {
  font-style: italic;
  color: #0fa958;
  font-weight: 600;
}
